<!-- app.component.html -->

<body>
        <div style="text-align:center;"></div>
        <br>
                                                                     <!-- add (click) directive to execute newTask() -->
        <button id="newtask" (click)="newTask()">New Task</button> 
        <br><br><br>
        <table style="width:100%">
            <tr class="toprow">
                <td>
                    <b>Task</b>
                </td>
                <td>
                    <b>Due Date</b>
                </td>
                <td>
                    <b>Progress</b>
                </td>
            </tr>
                                                   <!-- Utilize *ngFor directive to dynamically allocate task-row components -->
            <tr class="itemrow" app-task-row
                *ngFor="let task of user.tasks"                     
                [task]="task" 
                [(userList)]="userList"
                (saveUsersCompEmit) = "saveUsersComp()"
                ></tr>
                                                   <!-- bind task to task and save upon data change with (change) directive -->
          </table>
  </body>

