---
import BaseLayout from "../layouts/BaseLayout.astro";
// add additional learning outcomes to this array
let learning_outcomes = [
  "At the conclusion of this tutorial, the learner will be able to compare and contrast different client-side frameworks.",
  "The learner will be able to be able to infer which method works best in the existing problem space.",
  "The learner will be able to create a basic single page application in React, Angular, Svelte, and Vue.",
  "The learner will be able to employ various rendering strategies.",
]
import {Content as Tutorial} from '../components/Tutorial.mdx'
import {Content as History} from '../components/History.mdx'
import {Content as Analysis} from '../components/Analysis.mdx'
import {Content as References} from '../components/References.mdx'
import {Content as Resources} from '../components/Resources.mdx'
---
<BaseLayout title='Writeup'>
  <h1 class='text-6xl m-10'>Writeup</h1>
  <section class="m-5 bg-slate-900/50 lg:w-9/12 w-full rounded-xl shadow-2xl shadow-slate-900 p-3">
    <h3 class="text-3xl text-slate-400 mb-4">Team Members</h3>
    <ul class="text-xl flex flex-row justify-evenly">
      <li>
        Isaiah Lathem
      </li>
      <li>
        Chad Oliver
      </li>
      <li>
        Eric Hunley
      </li>
      <li>
        John Kalafus
      </li>
    </ul>
    <h3 class="text-3xl text-slate-400 m-4">Topic</h3>
    <p class="text-xl">Comparison of Client-Side Frameworks</p>
  </section>
  <section class='m-5 bg-slate-900/50 lg:w-1/3 w-full rounded-xl shadow-2xl shadow-slate-900 p-3'>
    <h2 class='text-3xl text-slate-400 mb-3'>Table of Contents</h2>
    <ul>
      <li class="text-slate-300 hover:text-slate-50 p-1"><a href="#learning_outcomes">Learning Outcomes</a></li>
      <li class="text-slate-300 hover:text-slate-50 p-1"><a href="#tutorial">Tutorial</a></li>
      <li class="text-slate-300 hover:text-slate-50 p-1"><a href="#history">History</a></li>
      <li class="text-slate-300 hover:text-slate-50 p-1"><a href="#analysis">Analysis</a></li>
      <li class="text-slate-300 hover:text-slate-50 p-1"><a href="#references">References</a></li>
      <li class="text-slate-300 hover:text-slate-50 p-1"><a href="#resources">Resources</a></li>
    </ul>
  </section>
  <section class='m-5 bg-slate-900/50 lg:w-2/3 w-full rounded-xl shadow-2xl shadow-slate-900 p-3'>
    <h2 class='text-3xl text-slate-400' id="learning_outcomes">Learning Outcomes</h2>
    {learning_outcomes.map(lo => <p class="m-2">{lo}</p>)}
    <h3 class='text-slate-400 text-xl hover:text-slate-50'><a href="https://github.com/ilathem/ser421-advanced-project" target="_blank">Repository</a></h3>
    <h3 class='text-slate-400 text-xl hover:text-slate-50'><a href="/demo">Demo</a></h3>
    <h3 class='text-slate-400 text-xl'>Video Walkthrough of Demo</h3>
  </section>
  <section class='m-5 bg-slate-900/50 lg:w-3/4 w-full rounded-xl shadow-2xl shadow-slate-900 p-2 flex flex-col items-center'>
    <h2 class='text-3xl text-slate-400 m-4' id="tutorial">Tutorial</h2>
    <div class="prose prose-lg dark:prose-invert text-left prose-h2:text-slate-400 prose-code:text-orange-500 w-full prose-li:list-outside">
      <Tutorial />
    </div>
  </section>
  <section class='m-5 bg-slate-900/50 lg:w-3/4 w-full rounded-xl shadow-2xl shadow-slate-900 p-2 flex flex-col items-center' id="history">
    <div class="prose prose-lg dark:prose-invert text-center prose-h2:text-slate-400 prose-code:text-orange-500 w-full border-red-100 prose-li:list-inside">
      <History />
    </div>
  </section>
  <section class='m-5 bg-slate-900/50 lg:w-3/4 w-full rounded-xl shadow-2xl shadow-slate-900 p-2 flex flex-col items-center' id="analysis">
    <div class="prose prose-xl dark:prose-invert text-center prose-h2:text-slate-400 prose-code:text-orange-500 w-full prose-li:list-inside">
      <Analysis />
    </div>
  </section>
  <section class='m-5 bg-slate-900/50 lg:w-3/4 w-full rounded-xl shadow-2xl shadow-slate-900 flex flex-col items-center p-2' id="references">
    <div class="prose prose-xl dark:prose-invert text-center prose-h2:text-slate-400 prose-code:text-orange-500 w-full prose-li:list-inside prose-a:no-underline">
      <References />
    </div>
  </section>
  <section class='m-5 bg-slate-900/50 lg:w-3/4 w-full rounded-xl shadow-2xl shadow-slate-900 flex flex-col items-center p-2' id="resources">
    <div class="prose prose-xl dark:prose-invert text-center prose-h2:text-slate-400 prose-code:text-orange-500 w-full prose-li:list-inside prose-a:no-underline">
      <Resources />
    </div>
  </section>
</BaseLayout>